* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  --light-color: #73e6ff;
  --dark-color: #635bff;

  --title-dark: #222222;
  --text-white: whitesmoke;

  font-size: 62.5%;
}

.aligningCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Roboto;
  color: var(--title-dark);
  height: 100vh;
}


header {
  margin-bottom: 10vh;
  font-size: large;
  background-color: var(--dark-color);
  width: 100%;
  color: var(--text-white);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-inline: 10px; */
  list-style: none;
}

header li {
  margin-inline: 1rem;
  margin-block: 1rem;
}

li.li-css a {
  text-decoration: none;
  color: var(--text-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

li a,
i {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

main {
  margin-inline: 20%;
  height: 900px;
}

section {
  gap: 2rem;
}

main h1 #animated {
  color: var(--dark-color);

  font-weight: 900;
}

h1 {
  font-size: 5.2rem;
  font-weight: 100;
}

h2 {
  font-size: 2.6rem;
}

p {
  font-size: 1.6rem;
}

main a,
abbr {
  text-decoration: none;
  color: var(--dark-color);
}

div.mainContent {
  border-radius: 1.5rem;
  padding: calc(2.5vw * 3.14) calc(4.5vw * 3.14);
  background-image: linear-gradient(150deg, #fafafa 30%, #dddddd);
  box-shadow: 3px 3px 4px var(--title-dark);
}

svg {
  cursor: pointer;
  transform: scale(150%);
}

/***************************************************** 
animations titles and paragraphs
******************************************************/
@keyframes title1 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 100%;
    transition: ease;
    animation-fill-mode: forwards;
  }
}

@keyframes slipLeftToCenter {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slipRightToCenter {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}

main h1,
#paragraph1,
#title2 {
  transform: scale(0);
  animation-fill-mode: forwards;
}

#title1 {
  animation-name: title1;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
}

#paragraph1 {
  animation-name: slipLeftToCenter;
  animation-duration: 0.5s;
  animation-delay: 1s;
  transition: ease;
}

#title2 {
  animation-name: slipRightToCenter;
  animation-duration: 0.5s;
  animation-delay: 1s;
  transition: ease;
}

/***************************************************** 
animations svg
******************************************************/

@keyframes slipBottomToCenter {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }
  75% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}

div.mainContent {
  transform: translateY(400%);
  opacity: 0%;
  animation-fill-mode: forwards;
}

div.mainContent {
  animation-name: slipBottomToCenter;
  animation-duration: 1s;
  animation-delay: 1.4s;
  transition:cubic-bezier(0.19, 1, 0.22, 1);
}

#triangles {
  margin-top: 100px;
  
}

#darkGroup {
  fill: var(--dark-color);
}

#lightGroup {
  fill: var(--light-color);
}

#dark1,
#light1,
#dark2,
#triangles {
  transition: all 1s ease;
}

#dark1 {
  transform: translateX(-80%);
  opacity: 0;
}

svg:hover #triangles {
  transform: translateX(-10%);
}

svg:hover #light1 {
  transform: translateX(20%);
}

svg:hover #dark2 {
  transform: translateX(40%);
  opacity: 0;
}

svg:hover #dark1 {
  transform: translateX(8%);
  opacity: 60%;
}
